---
# tasks file for install_helm_2

- name: create helm dir
  file:
    path: "{{ helm_dir }}"
    state: directory
    owner: "{{ user }}"
    group: "{{ user }}"

- name: check if file is already downloaded
  stat:
    path: "/tmp/{{ helm_archive }}"
    checksum_algorithm: sha256
  register: tmp_helm_archive


- name: download "{{ helm_archive }}"
  get_url:
    url: "{{ helm_url }}"
    checksum: "{{ helm_checksum }}"
    dest: /tmp
  when: (tmp_helm_archive.stat.checksum is not defined) or (tmp_helm_archive.stat.checksum != "{{ helm_hash_only }}")


- name: extract "{{ helm_archive }}"
  unarchive:
    remote_src: yes
    src: "/tmp/{{ helm_archive }}"
    dest: /tmp
#  when: download_helm.changed


- name: copy helm binary to 
  copy:
    remote_src: yes
    src: "{{ helm_ext_dir }}/helm"
    dest: "{{ helm_local_bin_path }}"
    owner: "{{ user }}"
    group: "{{ user }}"


